<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>shoppingcart</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.cruds.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.cruds.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.cruds.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.cruds.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoesServlet</display-name>
    <servlet-name>ShoesServlet</servlet-name>
    <servlet-class>com.cruds.servlet.ShoesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoesServlet</servlet-name>
    <url-pattern>/ShoesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PantServlet</display-name>
    <servlet-name>PantServlet</servlet-name>
    <servlet-class>com.cruds.servlet.PantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PantServlet</servlet-name>
    <url-pattern>/PantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TshirtServlet</display-name>
    <servlet-name>TshirtServlet</servlet-name>
    <servlet-class>com.cruds.servlet.TshirtServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TshirtServlet</servlet-name>
    <url-pattern>/TshirtServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.cruds.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveItemServlet</display-name>
    <servlet-name>RemoveItemServlet</servlet-name>
    <servlet-class>com.cruds.servlet.RemoveItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveItemServlet</servlet-name>
    <url-pattern>/RemoveItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveServlet</display-name>
    <servlet-name>RemoveServlet</servlet-name>
    <servlet-class>com.cruds.servlet.RemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveServlet</servlet-name>
    <url-pattern>/RemoveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartListServlet</display-name>
    <servlet-name>CartListServlet</servlet-name>
    <servlet-class>com.cruds.servlet.CartListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartListServlet</servlet-name>
    <url-pattern>/CartListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllOrdersServlet</display-name>
    <servlet-name>ViewAllOrdersServlet</servlet-name>
    <servlet-class>com.cruds.servlet.ViewAllOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllOrdersServlet</servlet-name>
    <url-pattern>/ViewAllOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderListServlet</display-name>
    <servlet-name>OrderListServlet</servlet-name>
    <servlet-class>com.cruds.servlet.OrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderListServlet</servlet-name>
    <url-pattern>/OrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductsServlet</display-name>
    <servlet-name>ProductsServlet</servlet-name>
    <servlet-class>com.cruds.servlet.ProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsServlet</servlet-name>
    <url-pattern>/ProductsServlet</url-pattern>
  </servlet-mapping>
</web-app>